---
BasedOnStyle: Google
ColumnLimit: 120

CommentPragmas: '^ NOLINT'

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty

AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
---
