[submodule "mbed-os"]
    path = mbed-os
    url = https://github.com/uwrobotics/mbed-os.git
    branch = uwrt

[submodule "uwrt-mars-rover-hw-bridge"]
    path = uwrt-mars-rover-hw-bridge
    url = https://github.com/uwrobotics/uwrt_mars_rover_hw_bridge.git
