name: clang-format

on: [ push, pull_request ]

jobs:
  cancel-superceded-jobs:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Superceded Jobs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          workflow_id: build.yaml, clang-format.yaml
          access_token: ${{ github.token }}
