name: clang-format

on: [pull_request]

jobs:
  clang-format:
    runs-on: ubuntu-18.04
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout repository
        uses: actions/checkout@v2.3.1
        with:
          submodules: 'recursive'

      - name: Clang format Check
        uses: DoozyX/clang-format-lint-action@v0.7
        with:
          exclude: './mbed-os'
          clangFormatVersion: 10
